.tab{
    border: #dddddd solid 1px;
    width: 100%;
    height: 150px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-collapse: collapse;
    cursor: pointer;
}
.td1{
    width: 140px;
}
.img1{
    width: 120px;
    height: 100px;
    background-color: white;
    cursor: pointer;
    color: #999999;
    margin-top: 10px;
}
.img2{
    width: 13px;
    height: 13px;
    cursor: pointer;
}
.img3{
    width: 13px;
    height: 13px;
    cursor: pointer;
}
.number{
    font-size: 6px;
    color: #999999;
}
.title{
    height: 32px;
    overflow: hidden;
    word-wrap: break-word;
    font-size: 12px;
    font-weight: normal;
}
.title a{
    color: #000000;
}

.intro{
    font-size: 12px;
    overflow: hidden;
    word-wrap: break-word;
    height: 32px;
    font-weight: lighter;
    color: black;
}
.praise{
    font-size: 10px;
    color: #333333;
    margin-left: 5px;

}
.comment{
    font-size: 10px;
    color: #333333;
    margin-left: 5px;

}
.post-time{
    font-size: 10px;
    color: #999999;
}

.right-contant{
    margin-top: 10px;

}
.bottom-container{

}
.bottom-right{
    float: right;
}